pkgbase = mkinitcpio-autohooks
	pkgdesc = Auto-manage mkinitcpio HOOKS based on mdraid/LUKS presence and rebuild initramfs
	pkgver = 0.0.4
	pkgrel = 1
	arch = any
	license = GPL2
	depends = bash
	depends = coreutils
	depends = gawk
	depends = grep
	depends = mkinitcpio
	depends = util-linux
	source = https://github.com/snuglinux/mkinitcpio-autohooks/archive/refs/tags/0.0.4.tar.gz
	sha256sums = 051aad76568aedce67b827f26c2d01d58ae78ff3302085bd3a1e492794523219

pkgname = mkinitcpio-autohooks
